{% extends 'base.html' %}

{% block head %}
    <title>Edit Item</title>
{% endblock%}

{% block content %}
<table border="2">
    <thead>
        <tr>
            <th>OrderID</th>
            <th>RID</th>
            <th>CID</th>
            <th>Customer First Name</th>
            <th>Customer Last Name</th>
            <th>TotalPrice</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Restaurant Money</th>
            <th>Liefer Money</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{order[2]}}</td>
            <td> {{ customers[order[2] - 1][0][0] }}</td>
            <td> {{ customers[order[2] - 1][0][1] }}</td>
            
            <td>{{ order[4] }}</td>
            <td>{{ order[5] }}</td>
            <td>{{ order[6] }}</td>
            <td>{{ order[7] }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock%}