{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ user['FirstName'] }} {{ user['LastName'] }}!</h2>

<p>Your profile details:</p>
<ul>
    <li>Phone Number: {{ user['PhoneNumber'] }}</li>
    <li>Balance: {{ user['Balance'] }}</li>
    <li>Status: {{ user['Status'] }}</li>
    <li>Role: {{ user['Role'] }}</li>
</ul>
<!-- New Part By Omar To Send to itemorder.html -->
<p align="center">Restaurants Near Me</p>
<div class="restaurantlist">
    {% for restaurant in restaurantsclose %}
    <div>
      <form method="POST" action="{{ url_for('itemorder') }}"> 
        <input type="image" src= "{{ url_for('static', filename=restaurant['ImageURL'] ) }}" alt="{{restaurant['Name']}}" style="width:200px;height:120px;" />
        <input type="hidden" name="selectedID" value="{{ restaurant['RestaurantID'] }}">
        <!-- Apparently You Cannot Receive Values From An Input Type = Image Hyperlink!! -->
      </form>
        <p align="left" style="line-height:1"><b>{{ restaurant['Name'] }}</b></p>
        <p align="left" style="line-height:1%">{{ restaurant['OpeningTime'] }} - {{ restaurant['ClosingTime'] }}</p>
    </div>
    {% endfor %}
</div>
<!-- To Show the Restaurant Listing -->
<style>
    .restaurantlist {
      display: flex;
    }
    .restaurantlist > div {
      width:25%;
    }
</style>
<br />
<!-- End of New Part By Omar To Send to itemorder.html! -->
{% endblock %}
