{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<div style="display:block; width:100%"> 
    <h2 style="line-height: 1.5;"><b>Pay Now</b></h2>
    <div style="width:62%; float:left;">
        <table style="width:100%;border-collapse: separate;border-spacing: 0 10px;">
            <!-- Restaurant Item Column-->
                <div style="background-color:#bbb;">
                    <tr> 
                        <td style="width:20%">
                            <img src= "/static/images/personlogo.png" alt="Person Logo" style="width:200px;height:150px;" />
                        </td>
                        <td style="display:flex; flex-direction: column; width:80%; justify-content: space-between;">
                                <h5 style="line-height:1.5; text-align:left"><b>Address and Personal Details</b></h5>
                                <p style="text-align:left; margin-bottom:0;">{{ customer['FirstName'] }} {{ customer['LastName'] }}</p>
                                <p style="text-align:left; margin-bottom:0; margin-top:0;">{{ customer['PhoneNumber'] }}</p>
                                <p style="text-align:left; margin-top:0;">{{ customer['Address'] }}, {{ customer['ZipCode'] }}</p>
                        </td>
                    </tr>
                    <tr> 
                        <td style="width:20%">
                            <img src= "/static/images/foodlogo.png" alt="Food Logo" style="width:200px;height:120px;" />
                        </td>
                        <td style="display:flex; flex-direction: column; width:80%; justify-content: space-between;">
                                <h5 style="line-height:2; text-align:left"><b>Items</b></h5>
                                {% for key, val in session['shoppingcart'].items() %}
                                <p style="text-align:left; margin-top:0; margin-bottom:0;">{{ session['shoppingcart'][key]['Name'] }}</p>
                                {% endfor %}
                                <h6 style="text-align:left;line-height:1; margin-top:3;"><b>Total<span style="float:right;">{{ session['total_price'] }} €</span></b></h6>
                        </td>
                    </tr>
                </div>
        </table>
    </div>
    <div style="width:38%; float:right;">
        <h4 style="text-align: center"> Cart </h4>
        <div class="col-sm-12">
            <table class="table table-hover" style="table-layout: fixed; margin-left: 10px;">
                <tr>
                    <td>
                    <p style="text-align: left;">{{ restaurantchosen['Name'] }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for key, val in session['shoppingcart'].items() %}
                        <p style="text-align:left; margin-top:0">{{ session['shoppingcart'][key]['Name'] }}</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <h5 style="text-align:left;line-height:1;">Total<span style="float:right; padding-top: 10px; padding-bottom: 20px;">{{ session['total_price'] }} €</span></h5>
        <form method="POST"> 
            <p><a id="btnEmpty" style="text-align: center;" href="{{ url_for('customer.itemorder') }}" class="btn btn-info">Return To Ordering</a></p>
        </form>
        <!-- <form method="POST"> -->
            <p><a id="btnReturn" class="btn btn-primary" style="text-align: center;">Pay Now</a></p>
        <!-- </form> -->
    </div>
</div>

{% endblock %}